body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.hero {
    background-color: rgb(15, 39, 71);
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 0 250px;
    gap: 50px;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-image {
    width: 300px;
    height: 200px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.navbar {
    display: flex;
}

p {
    font-size: 12px;
    color: aliceblue;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

button {
    background-color: rgb(0, 89, 255);
    width: 100px;
    height: 30px;
    border-style: none;
    border-radius: 10px;
    color: white;

}