body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    flex-wrap: wrap;
}

/* hero */

.hero {
    background-color: rgb(15, 39, 71);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.header {
    display: flex;
    justify-content: rig;
    align-items: center;
    padding: 20px;
    gap: 500px;
    margin-bottom: 20px;
}

.hero-content {
    display: flex;
    flex-direction: row; /* Cambia a columna si quieres que los elementos estén apilados */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    gap: 20px; /* Espaciado entre elementos */
}

/* body */

.body-header {
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 700;
    padding: 50px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding-bottom: 70px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    flex: 0 1 auto;
    width: 200px;
}

.quote-section {
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}

.quote {
    width: 800px;
}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    flex-direction: column;
}

.cta-card {
    background-color: royalblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    width: 1000px;
    height: 200px;
}

.cta-card button {
    background-color: royalblue;
    align-self: center;
    margin: 0px 100px;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    width: 120px;
}

.footer {
    display: block;
    background-color: rgb(32, 36, 97);
}

/* elements */

.hero-image {
    width: 20%;
    max-width: 50%;
}

.card-image {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-radius: 20px;
    color: blue;
}

p {
    font-size: 15px;
    color: aliceblue;
}

.card p {
    font-size: 15px;
    color: black;
    display: block;
    text-align: center;
}

.quote p {
    font-size: 20px;
    color: black;
    text-align: right;
    font-style: normal;
    font-weight: 700;
}

.quote h1 {
    font-size: 35px;
    color: black;
    font-weight: 100;
    font-style: italic;
}

.footer h1 {
    font-size: 20px;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

button {
    background-color: rgb(0, 89, 255);
    width: 100px;
    height: 30px;
    border-style: none;
    border-radius: 10px;
    color: white;
}